*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

                                                         /*------------------ Header --------------------*/                       
li {
    list-style: none;
}
a {
    text-decoration: none;
}
header {
    position: relative;
    padding: 0 10rem;
    background-color: #08649C;
    margin: 0;
}
.navbar {
    width: 100%;
    height: 88px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a{
    color: #ffffff;
    font-weight:700;
    font-size:30px;
}
.navbar .links {
    font-weight:400;
    font-size:24px;
    display: flex;
    gap: 25px;

}
.navbar .links a{
    color: #ffffff;
}
.button{
    background-color: #ffffff;
    width: 185px;
    height: 55px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    padding: 14px 8px 16px 13px; /* Haut, droite, bas, gauche */
    cursor: pointer;
}
.button a{
    color: #08649C;
    font-weight: bold;
    font-size: 24px;
}
.navbar .logo a:hover{
    color: #FF9933;
}
.navbar .links a:hover{
    color: #FF9933;
}
.navbar .button:hover{
    background-color:  #FF9933;
}
.navbar .button a:hover{
    color:#ffffff;
}
                                                   /*------------------ Banière --------------------*/

.banniere{
    margin-top: -5px;
    width: 100%;
    height: 370px;
    background-image: linear-gradient(rgba(8, 100, 156, 0.54), rgba(8, 100, 156, 0.54)),url(./images/Rectangle\ 6.png);
    background-size: cover; /* pour couvrir tout l'arrière-plan */
    background-repeat: no-repeat; /* pour éviter la répétition de l'image */
}
.banniere h1{
    font-size: 35px;
    color: #ffffff;
    padding-top: 107px ;
    padding-right: 501px;
    /*padding-bottom: 211px;*/
   padding-left: 750px;
}
.banniere h3{
    font-size: 30px;
    color: #ffffff;
    padding-top: 20px;
    padding-right: 527px;
    padding-left: 775px;
    text-indent: 1.4em; /* Décalage de deux carreaux */
   line-height: 1.3; /* Hauteur de ligne de 1.5*/
}
.inscription{
    width: 100%;
    height: 506px;
}
.inscription h4{
    font-size: 24px;
    padding-top: 25px;
    padding-right: 168px;
    padding-left: 300px;
}
.conteneur1{
    display:flex;
    padding-top:22px;
    padding-left:22%;
}
.inscrire1{
    width:520px;
    height:376px;
    background-color: #08649C;
    border-radius: 10px;
    margin-right:16px;
}
.inscrire2{
    width:520px;
    height:376px;
    background-color: #08649C;
    border-radius: 10px;
    margin-left:16px;
}
.image_inscrit{
    padding: 14px 34px 11px 34px;
}
.inscrire1 button{
    width:454px;
    height:70px;
    margin: 7px 34px 5px 34px;
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.inscrire2 button{
    width:454px;
    height:70px;
    margin: 7px 34px 5px 34px;
    background-color: #ffffff;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.button_inscrit{
    font-weight: bold;
    font-size: 24px;
    color:#08649C;
}
.inscrire1 button:hover{
    background-color:  #FF9933;
}
.inscrire2 button:hover{
    background-color:  #FF9933;
}
.button_inscrit:hover{
    color:#ffffff;
}
                                         /*-------------------Annonces-------------------------*/
.annonce{
    width: 100%;
    height: 530px;
    background-color: rgba(8, 100, 156, 0.04);
}
.annonce h1{
    font-weight: bold;
    font-size: 30px;
    color:#000000;
    padding-top: 25px;
    text-align: center;  /* Pour centrer le titre*/
}
.trait {
    width: 150px; /* Longueur du trait */
    height: 3px; /* Épaisseur du trait */
    background-color: #000000; /* Couleur du trait */
    margin: 0 auto; /* Centrage du trait */
    margin-top:20px
  }
  
  .carres {
    display: flex;
    justify-content: center; /* Centrage horizontal des carrés */
  }
  
  .carre {
    width: 20px; /* Taille des carrés */
    height: 20px;
    background-color: #000000; /* Couleur des carrés */
    margin: -10px 2px; /* Espacement entre les carrés */
    transform: rotate(45deg); /* Rotation de 45 degrés pour créer un losange */
  }
  .conteneur2{
    display:flex;
    padding-top:40px;
    padding-left:22%;
}
.annonce1{
    width: 296px;
    height: 300px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ombre avec un flou de 10px */
    margin-left:50px;

}
.annonce1 h6{
    font-weight:500;
    font-size: 20px;
    color:#000000;
    padding: 14px 33px 68px;
}
.petit_trait1 {
    width: 75px; /* Longueur du trait */
    height: 3px; /* Épaisseur du trait */
    background-color: #000000; /* Couleur du trait */
    margin:-50px 33px;    /*marge du trait par rapport au text*/
  }
  .annonce1 p{
    font-weight:400;
    font-size: 18px;
    color:#000000;
    padding: 70px 33px;
}
.annonce2{
    width: 296px;
    height: 300px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ombre avec un flou de 10px */
    margin-left:50px;

}
.annonce2 h6{
    font-weight:500;
    font-size: 20px;
    color:#000000;
    padding: 14px 33px 68px;

}
  .annonce2 p{
    font-weight:400;
    font-size: 18px;
    color:#000000;
    padding: 70px 33px;
}
.annonce3{
    width: 296px;
    height: 300px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ombre avec un flou de 10px */
    margin-left:50px;

}
.annonce3 h6{
    font-weight:500;
    font-size: 20px;
    color:#000000;
    padding: 14px 33px 68px;

}
  .annonce3 p{
    font-weight:400;
    font-size: 18px;
    color:#000000;
    padding: 70px 33px;
}
.pagination {
    display: flex;
    padding-left: 50%;
    
  }
  
  .rond {
    width: 20px;
    height: 20px;
    border: 1px solid ;
    border-color: #08649C;
    border-radius: 50px;
    margin: 60px 10px;
  }
                           /*--------------------------------Evènements---------------------------------*/
.evenement{
    width: 100%;
    height: 580px;
    background-color: #ffffff;
}
.evenement h1{
    font-weight: bold;
    font-size: 30px;
    color:#000000;
    padding-top: 25px;
    text-align: center;  /* Pour centrer le titre*/
}
  .conteneur3{
    display:flex;
    padding-top:40px;
    padding-left:22%;
}
.evenement1{
    width: 296px;
    height: 340px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ombre avec un flou de 10px */
    margin-left:50px;

}
.evenement1 img{
    padding: 15px 15px 10px 16px;

}
.evenement1 p{
    font-weight:400;
    font-size: 18px;
    color:#000000;
    padding: 10px 33px;
}
.evenement1 button{
    width:224px;
    height:50px;
    margin: 6px 33px 25px 37px;
    background-color: #08649C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.detail_evenement{
    font-weight: bold;
    font-size: 24px;
    color:#ffffff;
}
.evenement1 button:hover{
    background-color:  #FF9933;
}
.detail_evenement:hover{
    color:#08649C;
}
.evenement2{
    width: 296px;
    height: 350px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ombre avec un flou de 10px */
    margin-left:50px;

}
.evenement2 img{
    padding: 15px 15px 10px 16px;

}
.evenement2 p{
    font-weight:400;
    font-size: 18px;
    color:#000000;
    padding: 10px 33px;
}
.evenement2 button{
    width:224px;
    height:50px;
    margin: 11px 33px 25px 37px;
    background-color: #08649C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.evenement2 button:hover{
    background-color:  #FF9933;
}
.evenement3{
    width: 296px;
    height: 350px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ombre avec un flou de 10px */
    margin-left:50px;

}
.evenement3 img{
    padding: 15px 15px 10px 16px;

}
.evenement3 p{
    font-weight:400;
    font-size: 18px;
    color:#000000;
    padding: 10px 33px;
}
.evenement3 button{
    width:224px;
    height:50px;
    margin: 11px 33px 25px 37px;
    background-color: #08649C;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.evenement3 button:hover{
    background-color:  #FF9933;
}
                                     /*-------------------------------Statistiques----------------------------------*/
.statistiques{
    width: 100%;
    height: 480px;
    background-color: rgba(8, 100, 156, 0.04);
}
.statistiques h1{
    font-weight: bold;
    font-size: 30px;
    color:#000000;
    padding-top: 25px;
    text-align: center;  /* Pour centrer le titre*/
}
.statistiques h6{
    font-weight:550;
    font-size: 25px;
    color:#000000;
    padding-top: 50px;
    text-align: center;
}
.petit_trait2 {
    width: 75px; /* Longueur du trait */
    height: 3px; /* Épaisseur du trait */
    background-color: #000000; /* Couleur du trait */
    margin: 20px auto; /* Marge d'en haut et centrage du trait */
  }
.conteneur4{
    display: flex;
    padding-top:60px;
    padding-left:22%;
}
.stat1{
    width: 310px;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ombre avec un flou de 10px */
    margin-left:50px;
}
.statistique{
    display: flex;
}
.stat1 img{
    padding: 17px 14px 18px 14px;
}
.stat1 p{
    font-weight:500;
    font-size: 25px;
    color: #000000;
    padding: 35px 20px 30px 0px;
}
.stat2{
    width: 310px;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ombre avec un flou de 10px */
    margin-left:50px;
}
.stat2 img{
    padding: 17px 14px 18px 14px;
}
.stat2 p{
    font-weight:500;
    font-size: 25px;
    color: #000000;
    padding: 35px 20px 30px 0px;
}
.stat3{
    width: 310px;
    height: 100px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Ombre avec un flou de 10px */
    margin-left:50px;
}
.stat3 img{
    padding: 17px 14px 18px 14px;
}
.stat3 p{
    font-weight:500;
    font-size: 25px;
    color: #000000;
    padding: 35px 20px 30px 0px;
}
                                    /*-----------------Partenaires----------------------------------*/
.partenaines{
    width: 100%;
    height: 500px;
    background-color: #ffffff;
}
.partenaires h1{
    font-weight: bold;
    font-size: 30px;
    color:#000000;
    padding-top: 25px;
    text-align: center;  /* Pour centrer le titre*/
}
.conteneur5{
    display: flex;
    padding-top:60px;
    padding-left:22%;
}
.part1{
    width: 296px;
    height: 154px;
    margin-left:70px;
}
.part2{
    width: 296px;
    height: 154px;
    margin-left:70px;
}
.part3{
    width: 296px;
    height: 154px;
    margin-left:70px;
}
                                   /*-------------------------Contact--------------------*/
.contacts{
    width: 100%;
    height: 900px;
    background-color: rgba(8, 100, 156, 0.04);
}
.contacts h1{
    font-weight: bold;
    font-size: 30px;
    color:#000000;
    padding-top: 25px;
    text-align: center;  /* Pour centrer le titre*/
}
.conteneur6{
    display: flex;
    padding-top:40px;
    padding-left:22%;
}
.contact h4{
    font-weight: bold;
    font-size: 25px;
    color:#000000;
}
.conteneur6 .contact{
    margin-left: 30px;
}
.contact form{
    display: flex;
    flex-direction: column;
}

label {                       /*Il gère les proprieté des label ie ceux qui se trouve sur les colonnes*/
    margin-top: 10px;
    margin-left: 5px;
    font-weight:500;
    font-family: 24px;
    color: #000000;
}

input[type="text"],
input[type="email"]{
    padding: 10px;
    margin-top: 10px;
    width: 600px;      /*C est pour définir les largeurs et les */
    height: 60px;      /*longueurs des case du formulaire*/
    border: 1px solid rgba(255, 153, 51, 0.2);
    font-weight:400;     /*Pour la typographi*/
    font-family: 20px;   /*des values*/
}
textarea {
    padding: 10px;
    margin-top: 10px;
    width: 600px;      /*C est pour définir les largeurs et les */
    height: 150px;      /*longueurs des case du formulaire*/
    border: 1px solid rgba(255, 153, 51, 0.2);
    font-weight:400;
    font-family: 20px;
}

.contact form button {
    margin-top: 50px;
    width: 268px;
    height: 53px;
    background-color:#08649C;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}
.contact form .button_contact{
    font-weight: bold;
    font-size: 25px;
    color:#ffffff;
}
.contact form button:hover{
    background-color: #FF9933;
}
.contact form .button_contact:hover{
    color: #08649C;
}
.conteneur6 img{
    margin-left:130px
}

